<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="A2A.*" />
      <package pattern="coverlet.*" />
      <package pattern="FluentAssertions" />
      <package pattern="Microsoft.AspNetCore.*" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Microsoft.Identity.*" />
      <package pattern="Microsoft.NET.*" />
      <package pattern="ModelContextProtocol*" />
      <package pattern="Moq" />
      <package pattern="Swashbuckle.*" />
      <package pattern="System.*" />
      <package pattern="xunit*" />
    </packageSource>
    <packageSource key="dotnet8">
      <package pattern="Aspire.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
